DATABASE_PATH=.data/kilorep.db
# MIGRATIONS_DIR=drizzle
# ALLOW_REGISTRATION=false
# GOOGLE_CLIENT_ID=000000000000-xxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=
# ORIGIN=http://192.168.1.50:3000
# ADDRESS_HEADER=x-forwarded-for
# XFF_DEPTH=1
# PROTOCOL_HEADER=x-forwarded-proto
